body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #produtos, #carrinho {
    width: 400px;
    margin-bottom: 40px;
  }
  
  h2 {
    border-bottom: 1px solid #18929D;
    padding-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #18929D;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #18929D;
  }
  
  #lista-carrinho li span {
    font-weight: bold;
  }
  